@media (min-width:480px) {
  .sections{
    width: 80%;
    margin: 50px auto;  
  }

  .caixa-projeto{
    max-width: 310px;

    align-items: center;
  }

  .flex-projetos{
    justify-content: center;
  }
}

@media (min-width:788px) {
  .sections{
    width: 75%;
    margin: 50px auto; 
  }
}

/* LapTop */
  @media (min-width:830px) {
    .menu-toggle{
      display: none;
    }

    .menu-section nav{
      display: block;
    }

    .menu-section nav ul{
      display: flex;
    }

    .menu-section nav ul li{
      margin: 0 20px;
    }
    .menu-section nav ul li a{
      font-size: 22px;
      color: #FFFFFF;

      text-decoration: none;
    }

    .menu-section nav ul li a:hover{
      border-bottom: #FFFFFF solid 3px ;
    }

    .container-inicio{
      display: flex;
      flex-direction: row-reverse;
    }

    .sections{
      width: 70%;
      margin: 50px auto;
    }

    .caixa-projeto{
      max-width: 270px;
    }
  }

    @media (min-width:900px) {
      .sections{
        width: 80%;
        margin: 50px auto;     
      }

      .habilidade-divisao {
        grid-column-gap: 160px;
        grid-row-gap: 86px;
        justify-content: center;
    
      }
    }

@media (min-width:1024px) {
  .sections{
    width: 60%;
    margin: 50px auto;
  }

  .container-sobre{
    padding: 50px 50px ;
  }

  .flex-projetos{
   justify-content: space-around;
  }

  .habilidade-divisao {
    grid-column-gap: 200px;
    grid-row-gap: 86px;
    justify-content: center;
  }
}

@media (min-width:1180px) {
   header{
    width: 100%;
  }

  .container-inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
  }

  .sobre-inform{
    width: 50%;
    
  }

  .sobre-inform h1{
    font-size: 48px;
    padding: 20px 0;
  }

  .sobre-inform h2{
    font-size: 22px;
  }

  .paragrafo-inform h2{
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 20px;
  }

  .container-projetos, .container-habilidades{
    padding: 70px 20px;
  }

  .sections{
    padding: 30px 0;
  }

  .flex-projetos{
    justify-content: space-around;
  }

  .habilidade-divisao {
    grid-column-gap: 290px;
    grid-row-gap: 50px;
    
    margin: 30px 0;
  }

  .paragrafo-inform{
    margin: 50px 50px;
  }
}