:root{
  --preto: #000000;
  --branco: #ffffff;
  --preto-secundario: #1E272E;
  --branco-gelo: #D9D9D9;
}

/* Header */

header{
  width: 100vw;
  height: 8vh;

  background: var(--preto-secundario);
}

.container-header{
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 8vh;
  padding: 0 5px;
}

/* Detalhes sobre a logo do projeto */
.logo-superior img{
  width: 178px;
  height: 48px;
}

/* Menu toogle */
.menu-toggle{
  
}

.menu-toggle span{
  display: block;
  width: 40px;
  height: 5px;
  margin: 5px 0;

  background: var(--branco);
}

/* Navegação */

.menu-section  nav {
  display: none;
}

/* Navegação ON */

.menu-section.on nav{
  display: block;
  position: fixed;

  width: 100vw;
  height: 92vh;
  top: 8vh;
  left: 0;


  background: var(--preto-secundario);
}

.menu-section.on nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 92vh;

}

.menu-section.on nav ul li a{
  font-size: 2rem;
  text-decoration: none;
  color: var(--branco);
  
  padding: 10px 20px;
  border-bottom: #ffffff solid 1px;

}

/* Sobre */

/* Bacground principal do sobre */

.container-sobre{
  margin: 10px;
  padding: 10px;
  border-radius: 30px;

  background: var(--branco-gelo);
}

/* Estilização da imgem */
.imagem-murillo{
  margin: 10px;
  padding-top: 50px;
  border-radius: 30px;

  background: var(--preto-secundario);
}

/* sobre-inform */

.sobre-inform h2{
  font-size: 16px;
  font-weight: 600;

  margin: 10px;
}

.sobre-inform h1{
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;

  margin: 10px;
}

