.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .custom-apresentacao {
    font-family: 'Preahvihear', sans-serif;
    font-size: 21px;
  }

  .custom-nome {
    font-family: 'Preahvihear', sans-serif;
    font-size: 48px;
    color: #00a3a3;
  }

  .custom-imagem {
    min-width: 250px;
    max-width: 350px;
    height: auto;

    animation: pulse-shadow 4.5s infinite ease-in-out;
    border-radius: 0;
  }

}

@keyframes pulse-shadow {

  0%,
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
  }

  50% {
    filter: drop-shadow(0 0 16px rgba(255, 255, 255, 1));
  }
}

.section-two {
  min-height: 500px;
  padding: 25px 10px;

  .texto-sobre {
    text-align: justify;

  }
}

.section-three {
  min-height: 500px;
  padding: 25px 10px;
}

.experience-item.selected {
  border-left: solid 2px #00a3a3;
}

.experience-item {
  position: relative;
  padding-left: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.experience-item:hover {
  background: #ffffff0a;
}

h4 {
  color: #00a3a3;
  font-size: 32px;
  font-family: 'Preahvihear', sans-serif;
}

.custom-experiencias h4 {
  margin-bottom: 2rem;
}

.custom-experiencia p {
  font-size: 14px;
}

.custom-experiencia-detalhe p {
  text-align: justify;

}

.custom-experiencia-detalhe h6 {
  color: #00a3a3;
  font-size: 16px;
  margin-bottom: 2rem;
}

.section-four {
  min-height: 500px;
  padding: 25px 10px;

  .projeto-botoes p {
    margin: 2px;
  }
}

.custom-card .nome-projeto {
  margin: 2rem 0;
  font-size: 24px;
}

.custom-card .tecnologias {
  color: #00a3a3;
  font-size: 16px;
  font-weight: 500;
}

.custom-flex-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.custom-projetos {
  width: 100%;
}

.custom-card {
  flex: 0 0 calc(25% - 1rem);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.custom-card img {
  width: 550px;
  height: 200px;
  background: #272727;
  border-left: solid 5px #00a3a3;
}

.section-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 25px 10px;
}

.custom-skils {
  width: 100%;
  padding: 0 10px;
}

.custom-skils p {
  margin: 20px 0 5px;
}

.progress-bar {
  background-color: #00a3a3;
}

/* Mobile (phones) */
@media (max-width: 767px) {

  .section-one {

    flex-direction: column-reverse;

    .custom-imagem {
      min-width: 150px;
      max-width: 250px;

    }
  }

  .section-three {
    flex-direction: column;
  }

  .section-four {

    .custom-projetos {
      justify-content: center;
    }

    .custom-card img {
      width: 250px;
      height: 150px;
    }

    .projeto-botoes button {
      font-size: 11px;
    }
  }

  .section-five {

    .skils {
      flex-direction: column;
    }
  }

}

/* Tablet (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {

  .section-one {

    .custom-apresentacao {
      font-size: 18px;
    }

    .custom-nome {
      font-size: 38px;
    }

    .custom-imagem {
      min-width: 150px;
      max-width: 280px;

    }
  }

  .section-four {

    .custom-projetos {
      justify-content: center;
    }

    .custom-card img {
      width: 400px;
      height: 250px;
    }

    .projeto-botoes button {
      font-size: 14px;
    }
  }
}

/* Desktop (landscape) */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para desktops de médio porte */
}

/* Large Desktop (wide screens) */
@media (min-width: 1441px) {
  /* Estilos para telas maiores */
}