.custom-navbar{
  background-color: #0B0B0B;
  border-bottom: solid 1px #ffffff63;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #ffffff;
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover {
  color: #00a3a3;
}