:root {
	--branco-principal: #FFFFFF;
	--cinza-secundario: #C0C0C0;
	--verde-secundario: #54ff05;
	--cor-de-fundo: #00030c;
	--cor-de-botao: #001936;
	--cor-de-botao-secundaria: #f8f8f8d0;
	--font-principal: 'inter';

}

html {
	scroll-behavior: smooth;
}

/*----------HEADER----------*/
body {

	font-family: var(--font-principal);  /*Estilo de fonte pega do Google*/
	color: var(--branco-principal);
	font-size: 17px;
    font-weight: 400;
	background: var(--cor-de-fundo);
	
}

header {
	width: 100%;
	background: var(--cor-de-fundo);
	position: fixed;
	top: 0;
	padding: 12px 0;	
	
}

.navegacao {
	
	position: relative;
	width: 940px;
	margin: 0 auto;

} 

.logo-superior {
	
	width: 55px;

}

nav {
	
	position: absolute;  
	top: 20px;          
	right: 60px;          
	
}

nav li{
	text-transform: uppercase; 
	display: inline;   
	margin: 0 0 0 25px;    

}

nav a{
	color: var(--branco-principal);         
	font-size: 21px;        
	text-decoration: none;  
}

nav a:hover {
	text-decoration: underline; 
	color: #00FF7F;             
	transition: 0.5s;             
}



/*+++++++++++++++++++++++++++MAIN+++++++++++++++++++++++++++*/


/*+++++++++++++++++++++++++++HOME+++++++++++++++++++++++++++*/
.container  {
	width: 950px;
	margin: 0 auto;;
	height: 70vh;
	display: grid;
	grid-template-columns: 50% 50%;
	background-size: contain;
	padding: 4.5em 0 0;
		
}



.principal {
	margin-bottom: 1em;
}

.container__caixa {
	margin: 10em 0 0;
}

.container__nome {
	font-size: 22px;
	margin: 0 0 1em;
}

.container__titulo {
	font-size: 42px;
	color: var(--verde-secundario);

	border-right: 1.5px solid #ffffff;
	max-width: 0;
	white-space: nowrap;
	overflow: hidden;
	animation: pisca normal infinite .8s, escrever normal 5s steps(35) both;
}
	@keyframes pisca {
		100%{
			border-right-color: transparent;
	}
   }
   
   @keyframes escrever{
	   100%{
		   max-width: 100%;
	   }
   }

.container__texto {
	margin: 1em 0;
	line-height: 1.5em;
	text-align: justify; 
}

.desenvolvedor2 {
	width: 550px;
	margin: 6em 0 0;
}

.container__botao {
	background: var(--cor-de-botao);
	color: var(--branco-principal);
	padding: 10px 20px 10px 0px;
	margin: 25px 25px 0 0;
	border-radius: 10px;
	text-decoration: none;
	align-items: center;
	display: inline-flex;
	transition: 1s;
	
}

.container__botao:hover {
	background: var(--cor-de-botao-secundaria);
	color: #00030c;
	transition: 1s;
}


.linkedin {
	width: 30px;
	margin: 0  10px  0 20px;		
}

.github {
	width: 30px;
	margin: 0  10px  0 20px;		
}


/*+++++++++++++++++++++++++++SOBRE+++++++++++++++++++++++++++*/

.secundario {
	padding-top: 8em;
	
}

.desenvolvedor_imagem {
	width: 70%;
	box-shadow: 5px 5px 10px #ffffff
}

.descricao__sobre {
	font-size: 35px;
	margin: 0 0 1em;
}

.descricao__titulo {
	font-size: 20px;
	margin: 0 0 0.5em;
}

.descricao__texto{
	line-height: 1.2em;
	text-align: justify;

}

.botao_curriculo {
	padding: 20px;
}





/*+++++++++++++++++++++++++++PROJETOS+++++++++++++++++++++++++++*/



.projeto {
	width: 1000px;
	margin: 2em auto;
	height: 70vh;
	display: grid;
	grid-template-columns: 100%;
	background-size: contain;
	
	
}

.projeto__titulo {
	font-size: 45px;
	text-align: center;
	padding-top: 2em;
}

.projeto__lista {
	
	display: flex;
	justify-content: center;
	list-style-type: none;
	
    margin: 10px 0;
}

.projeto__imagem{
	width: 100%;
}

.projeto__item {
	background: var(--cor-de-botao);
	margin: 6em 1em;
	border-radius: 10px;
	box-shadow:5px 5px 10px #FFFFFF;
}

/*+++++++++++++++++++++++++++Habilidades+++++++++++++++++++++++++++*/




/*++++++++++++++++++++++++++++++++++++FOOTER+++++++++++++++++++++++++++*/

.rodape {
	text-align: center;

}

.rodape__logo {
	width: 60px;
	margin:4em 0 1em;
	
}

.rodape__texto {
	color: var(--cinza-secundario);
	margin-bottom: 2em;
}


/*+++++++++++++++++++++++++++RESPONSIVO+++++++++++++++++++++++++++*/

@media screen and (max-width: 480px){
	
	.navegacao {
		width: 100%;
	}

	nav li{
		margin-left:10px;
	}
	
	.logo-superior {
		margin-left: 10px;
	}

	nav a {
		font-size: 16px;
		margin-right: 10px;
	}
	
	.container__caixa {
		margin-top: 6em;
		margin-left: 10px;
	}

	.container__nome {
		font-size: 18px;
	}

	.container__titulo {
		font-size: 27px;
		width: 74%;
	}

	.container__texto {
		width: 95%;
		font-size: 15px;
	}

	.desenvolvedor2 {
		display: none;
	}

	.container, .projeto {
		width: 400px;
		grid-template-columns: 100%;
		margin-bottom: 2em;
	}

	.principal {
		margin-bottom: 5.5em;
	}

	.secundario {
		padding: 5em 0 0;
	}

	.desenvolvedor_imagem {
		width: 190px;
		margin: 0.3em auto;
	}

	.descricao__texto, .descricao__titulo, .descricao__sobre {
		padding: 0 20px 0;
	}

	.descricao__sobre, .descricao__titulo {
		margin-bottom: 8px;
	}

	.botao_curriculo {
		margin-top: 20px;
	}

	.projeto__titulo {
		margin-top: 2.5em;
	}

	.projeto__lista {
		flex-wrap: wrap;

	}

	.projeto__item {
		width: 70%;
		margin: 3em 0;
	}

	.rodape, .rodape__logo {
		margin-top: 28em;
	}

}

@media screen and (max-width: 420px){

	.container, .projeto, .rodape {
		width: 100%;
	}

	.logo-superior {
		margin-left: 10px;
	}

	nav {
		position: absolute;  
		top: 20px;          
		right: 10px; 
	}

	nav li{
		margin-left: 10px;
	}
	
	nav a {
		font-size: 16px;
		margin-right: 10px;

	}

	.container__caixa {
		margin-top: 6em;
		margin-left: 10px;
	}

	.container__nome {
		font-size: 18px;
	}

	.container__titulo {
		font-size: 27px;
		width: 85%;
	}

	.container__texto {
		width: 95%;
		font-size: 15px;
	}

	.desenvolvedor_imagem {
		width: 150px;
	}

	.projeto__titulo {
		margin-top: 2em;
	}

}